
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Final Project</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">
    <style>

h1 {
  background-color: #0f4034
}

div {
    background-color: #215c4e;
    width:100%;
    height:100vh;
    font-size: 1rem;
    text-align: center;
}

h2 {
  background-color: #215c4e;
  width:100%;
  height:100vh;
}
</style>
</head>
<body>
           	
		<div class = "content">
		<div style="color:white";>
		<h1 style="color:white;">Car Price Prediction </h1>	
		<form action = "/" method="POST">
			<label> Year</label>
			<select name="parameter 1" id="parameter_1">
    			<option> 2020 </option>
    			<option> 2019 </option>
    			<option> 2018 </option>
    			<option> 2017 </option>
    			<option> 2016 </option>
    			<option> 2015 </option>
    			<option> 2014 </option>
    			<option> 2013 </option>
    			<option> 2012 </option>
    			<option> 2011 </option>
    			<option> 2010 </option>
    			<option> 2009 </option>
    			<option> 2008 </option>
    			<option> 2007 </option>
    			<option> 2006 </option>
    			<option> 2005 </option>
    			<option> 2004 </option>
    			<option> 2003 </option>
    			<option> 2002 </option>
    			<option> 2001 </option>
    			<option> 2000 </option>
    			<option> 1999 </option>
    			<option> 1998 </option>
    			<option> 1997 </option>
    			<option> 1996 </option>
    			<option> 1995 </option>
    			<option> 1994 </option>
    			<option> 1993 </option>
    			<option> 1992 </option>
    			<option> 1991 </option>
    			<option> 1990 </option>
    			<option> 1989 </option>
    			<option> 1988 </option>
    			<option> 1987 </option>
    			<option> 1986 </option>
    			<option> 1985 </option>
    			<option> 1984 </option>
    			<option> 1983 </option>
    			<option> 1982 </option>
    			<option> 1981 </option>
    			<option> 1980 </option>
    			<option> 1979 </option>
    			<option> 1978 </option>
    			<option> 1977 </option>
    			<option> 1976 </option>
    			<option> 1975 </option>
    		</select>
			<br>
			<br>
			<label> Km</label>
			<input type="text" name="parameter 2" id="parameter_2">
			<br>
			<br>
			<label> Number of Doors</label>
			<select name="parameter 3" id="parameter_3">
    			<option> 5 </option>
    			<option> 3 </option>
    		</select>
			<br>
			<br>
			<label> Number of Seats</label>
			<select name="parameter 4" id="parameter_4">
    			<option> 5 </option>
    			<option> 7 </option>
    		</select>
			<br>
			<br>
			<label> Transmission Number</label>
			<select name="parameter 5" id="parameter_5">
    			<option> 5 </option>
    			<option> 6 </option>
    			<option> 7 </option>
    		</select>
			<br>
			<br> 
			<label> Power</label>
			<input type="text" name="parameter 6" id="parameter_6"> 
			<br>
			<br> 
			<label> Cylinder</label>
			<input type="text" name="parameter 7" id="parameter_7">  
			<br>
			<br> 
			<label> Brand</label>
			<select name="parameter 8" id="parameter_8">
    			<option> Abarth </option>
    			<option> Aixam </option>
    			<option> AlfaRomeo </option>
    			<option> AstonMartin </option>
    			<option> Audi </option>
    			<option> Austin </option>
    			<option> AustinHealey </option>
    			<option> BMW </option>
    			<option> Bellier </option>
    			<option> Bentley </option>
    			<option> Chatenet </option>
    			<option> Chevrolet </option>
    			<option> Chrysler </option>
    			<option> Citroën </option>
    			<option> DS </option>
    			<option> Dacia </option>
    			<option> Daewoo </option>
    			<option> Datsun </option>
    			<option> Dodge </option>
    			<option> Ferrari </option>
    			<option> Fiat </option>
    			<option> Fisker </option>
    			<option> Ford </option>
    			<option> Honda </option>
    			<option> Hummer </option>
    			<option> Hyundai </option>
    			<option> Infiniti </option>
    			<option> Isuzu </option>
    			<option> Jaguar </option>
    			<option> Jeep </option>
    			<option> Kia </option>
    			<option> Lamborghini </option>
    			<option> Lancia </option>
    			<option> LandRover </option>
    			<option> Lexus </option>
    			<option> Ligier </option>
    			<option> Lotus </option>
    			<option> MG </option>
    			<option> MINI </option>
    			<option> Maserati </option>
    			<option> Mazda </option>
    			<option> McLaren </option>
    			<option> Mercedes-Benz </option>
    			<option> Microcar </option>
    			<option> Mitsubishi </option>
    			<option> Morgan </option>
    			<option> Morris </option>
    			<option> Nissan </option>
    			<option> Opel </option>
    			<option> Outranãolistada </option>
    			<option> Peugeot </option>
    			<option> Porsche </option>
    			<option> Renault </option>
    			<option> RollsRoyce </option>
    			<option> Rover </option>
    			<option> SEAT </option>
    			<option> Saab </option>
    			<option> Skoda </option>
    			<option> Smart </option>
    			<option> SsangYong </option>
    			<option> Subaru </option>
    			<option> Suzuki </option>
    			<option> Tesla </option>
    			<option> Toyota </option>
    			<option> Triumph </option>
    			<option> UMM </option>
    			<option> VW </option>
    			<option> Volvo </option>
    		</select>
			<br>
			<br>
			<label> Fuel</label>
			<select name="parameter 9" id="parameter_9">
    			<option> Diesel </option> 
    			<option> Eléctrico </option> 
    			<option> GPL </option> 
    			<option> Gasolina </option> 
    			<option> Híbrido(Diesel) </option> 
    			<option> Híbrido(Gasolina) </option>  
    		</select>
			<br>
			<br>
			<label> Transmission Type</label>
			<select name="parameter 10" id="parameter_10">
    			<option> Automática </option> 
    			<option> Manual </option> 
    		</select>	
			<br>
			<br>
			<label> AC</label>
			<select name="parameter 11" id="parameter_11">
    			<option> ACAutomático </option> 
    			<option> ACIndependente </option> 
    			<option> ACManual </option> 
    		</select>
			<br>
			<br>
			<label> Condition</label>
			<select name="parameter 12" id="parameter_12"> 
    			<option> Usados </option> 
    		</select>
			<br>
			<br>
			<input type="submit" value="Run Model">
		</form>
		
	{% for prediction in predictions%}
	
	<h2> The result of your prediction is {{prediction}} €</h2>
	
	{% endfor%}
		
	</div>
  <script src="js/scripts.js"></script>
</body>
</html>